.headerContainer {
  margin: 5rem auto auto 23.25rem;
}

.headerContent {
  max-width: 1120px;
  display: flex;
  align-items: center;

  p {
    padding-left: 1rem;
    color: var(--white);
    font-size: large;
    font-weight: bold;

    span {
      padding-left: 0.35rem;
      color: var(--pink-500);
    }
  }
}
