.headerContainer {
  max-width: 1120px;
  margin: 4.97rem auto 2.46rem auto;
  padding: 0;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    display: flex;
    align-items: center;
    min-width: 720px;

    color: var(--white);
    font-size: 1.2rem;
    font-weight: bold;

    img {
      padding-right: 1rem;
    }

    span {
      padding-left: 0.35rem;
      color: var(--pink-500);
    }
  }
}

@media (max-width: 1080px) {
  .headerContent {
    a {
      min-width: 679px;
    }
  }
}

@media (max-width: 720px) {
  .headerContent {
    a {
      min-width: 630px;
    }
  }
}

@media (max-width: 630px) {
  .headerContent {
    display: block;
  }
}
